@page "/categories/List"


<h2>Listado de categorias</h2>
<hr />
<a href="categories/create" class="btn btn-primary" role="button" aria-pressed="true">Crear nueva categoria</a>

<hr />
<ListcategoryComponent />