@page "/Product/List"


    <h2>Listado de productos</h2>
    <hr />
    <a href="product/create" class="btn btn-primary" role="button" aria-pressed="true">Crear nuevo producto</a>
    
    
    <ListProductComponent />




