@page "/storage/List"
<h3>Lista de almacenes</h3>
<hr />
<a href="storage/create" class="btn btn-primary" role="button" aria-pressed="true">Crear nuevo producto</a>
<hr />
<ListstorageComponent />

@code {

}
